.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

.card-pair-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  padding: 15px;
}

.card-pair-container-term {
  width: 30vw;
  max-width: 40vw;
  max-height: 20vh;
}
#single-card-container-term {
  background-color: #62727b;
  color: #18212b;
  border-radius: 12px 0px 0px 12px;
}
#single-card-container-def {
  background-color: #62727b;
  color: #18212b;
  border-radius: 0px 12px 12px 0px;
}
#card-stepper {
  background-color: #000a12;
  border-radius: 0px 0px 12px 12px;
  color: #00897b;
}

.card-pair-container-def {
  width: 50vw;
  max-width: 50vw;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */

}
#delete-icon, #edit-icon{
  align-items: flex-end;
  padding: 0;
}

.testing {
  justify-content: space-around;
}

.makeStyles-definitionContainer-36{
  display: flex;
  justify-content: space-between;
}

.random-cards {
  width: 175px;
  height: 175px;
  margin: 15px;
  padding: 10px;
}

.match-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
}

.random-term {
  background-color: lightgray;
}
.selected-card {
  border: red;
}

.win-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#card-stepper > .Mui-disabled {
  color: #004d40;
}

.search-results {
    display: flex;
    justify-content: center;
    color: rgba(255,255,255, .8)

  }

  button.rs-play{
    background-color: cyan;
  }
  #speech-button-def{
    width: 15px;
    background-color: #004d40;
  }
  .definition-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 80px;
  }
  span.rs-container {
    max-width: 10px;
  }
.rs-play {
  background-color:#62727b !important;
  color: none !important;
  background-image: url('../images/sound-icon.png') !important;
  border: none !important;
}
 .term-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50px;
  }

  #front-study-card:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✏️</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
  #back-study-card:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✏️</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }
