body {
  /* background-color: #263238; */
  background-color: #18212b;
  overflow-x: hidden;
  overflow-y: auto;
}
#card-form {
  border-radius: 8px;
}
.MuiDialog-paperScrollPaper {
  border-radius: 8px;
  background-color: #263238;
}
form {
  background-color: #263238;
  /* color: white; */
  border-radius: 8px;
}
body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2b3238;
}
body::::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 15px;
  width: 13px;
  display: block;
  background: #101211;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar-thumb {
  background-color: #555555;
  outline: 2px solid #00897B;
  border-radius: 10px;
}
