.loading-image-container{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    min-height: calc(100vh - 293px);
}

.load-logo{
    width: 15%;
    height: 15%;
    padding: 15px;
}
.rotate {
    animation: rotation 3s infinite linear;
  }

@keyframes rotation {
    from {
        transform: rotate(0deg);
        }
    to {
        transform: rotate(359deg);
        }
}
